/.git*
/.idea*
.dockerignore
.editorconfig
/storage/mysql-data/
/storage/mongodb-data/
/storage/mongologs/app/vendor/
.env.*
!.env.*
/tools/*/vendor/
/bootstrap/cache
!/bootstrap/cache/.gitignore
.phpstorm.meta.php
_ide_helper.php
docker-compose.yml
docker-compose-test-ci.yml
docker-compose-staging.yml
docker-compose-prod.yml
Makefile
